@import 'tailwindcss';
@plugin 'tailwind-scrollbar';

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --color-primary: #071935;
  --color-secondary: #6298B5;
  --color-success: #8FD3A0;
  --color-danger: #dc3545;
  --color-warning: #ffc107;
  --color-info: #6298B5;
  --color-light: #FAFAFA;
  --color-dark: #071935;

  --font-size-base: 1rem;
  --font-size-lg: 1.25rem;
  --font-size-sm: 0.875rem;

  --border-radius: 0.25rem;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer base {

  /* Firefox */
  html {
    scrollbar-width: thin;
    scrollbar-color: theme('colors.blue.600') theme('colors.blue.100');
  }

  /* Chrome / Edge / Safari */
  html::-webkit-scrollbar {
    width: 6px;
    /* scrollbar-thin */
  }

  html::-webkit-scrollbar-track {
    background-color: theme('colors.blue.100');
  }

  html::-webkit-scrollbar-thumb {
    background-color: theme('colors.blue.600');
    border-radius: 9999px;
  }
}

@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}